.popup.hidden {
  display: none;
}

:where(h1, h2) {
  margin: 0;
}

.popup {
  backdrop-filter: blur(2px) brightness(0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: normal;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.popup header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: normal;
  text-align: left;
  padding: 0.7em;
  width: 100%;
  background-color: #444;
  color: #fff;
}
.popup header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.1em;
}
.popup header button {
  border: unset;
  outline: unset;
  background-color: transparent;
  color: inherit;
  font-size: 1.2em;
  padding: 0;
  font-weight: 900;
}
.popup header button:hover {
  transform: scale(1.2);
}

.popup_add_teacher .popup_main_window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  text-align: left;
  width: 40%;
  background-color: #fff;
  box-shadow: 0 3px 10px 2px #444;
}
.popup_add_teacher .popup_main_window .popup_content {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  text-align: left;
  padding: 3%;
  font-size: 0.85em;
}
.popup_add_teacher .popup_main_window .popup_content form {
  color: #666;
}
.popup_add_teacher .popup_main_window .popup_content form .form_grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  column-gap: 1em;
  grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
}
@media screen and (max-width: 768px) {
  .popup_add_teacher .popup_main_window .popup_content form .form_grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 540px) {
  .popup_add_teacher .popup_main_window .popup_content form .form_grid {
    grid-template-columns: repeat(1, auto);
  }
}
.popup_add_teacher .popup_main_window .popup_content form :where(label, .radio_buttons) {
  margin-bottom: 0.8em;
}
.popup_add_teacher .popup_main_window .popup_content form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  text-align: left;
}
.popup_add_teacher .popup_main_window .popup_content form label :where(input, textarea, select) {
  margin-top: 0.2em;
}
.popup_add_teacher .popup_main_window .popup_content form label :where(select, input) {
  padding: 0.4em;
}
.popup_add_teacher .popup_main_window .popup_content form label textarea {
  padding: 1em;
  margin-bottom: 1em;
}
.popup_add_teacher .popup_main_window .popup_content form label:has(input[type=radio]) {
  flex-direction: row;
  float: left;
}
.popup_add_teacher .popup_main_window .popup_content form label:has(input[type=color]) {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-right: 1em;
}
.popup_add_teacher .popup_main_window .popup_content form label:has(input[type=color]) input[type=color] {
  margin-left: 5em;
}
.popup_add_teacher .popup_main_window .popup_content form .radio_buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  align-content: center;
  text-align: center;
  float: left;
}
.popup_add_teacher .popup_main_window .popup_content form .radio_buttons label {
  margin: 0;
}
.popup_add_teacher .popup_main_window .popup_content form .radio_buttons span {
  float: left;
  margin-right: 5em;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .popup_add_teacher .popup_main_window {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .popup_add_teacher .popup_main_window textarea {
    height: 0.8em;
  }
}

/*# sourceMappingURL=popup_add_teacher.css.map */
