@import "common";

@mixin carousel_item {
  min-width: 20%;

  @media screen and (max-width: 1000px) {
    min-width: 25%;
  }

  @media screen and (max-width: 768px) {
    min-width: 33%;
  }

  @media screen and (max-width: 540px) {
    min-width: 50%;
  }
}

.carousel_arrow {
  position: absolute;
  font-weight: 900;
  font-size: 5em;
  top: 25%;
  color: $color_grey;
  cursor: pointer;

  &.left_arrow {
    left: 0;
  }

  &.right_arrow {
    right: 0;
  }

  &:hover {
    color: #000;
  }
}
