$color_main: #f89174;
$color_main_hover: darken($color_main, 20%);
$color_links: #00a0c0;
$color_controller_selected: #000;
$color_table_secondary: #f3e9ef;
$color_grey: #888;
$color_medium_grey: #666;
$color_dark_grey: #444;
$color_star: #efea5b;

$photo_frame_width: 4px;

$arrow_up: '↓';
$arrow_down: '↑';
$empty_star: '☆';
$filled_star: '★';
