@import "constants";
@import "common";

@mixin main_button {
  border: 1px solid $color_main;
  color: $color_main;
  background-color: #fff;
  padding: 0.7em;

  &:hover {
    color: #fff;
    background-color: $color_main_hover;
  }
}

.menu {
  @include align_flex(row, space-between, center);

  padding: 1.2em 0;

  button {
    width: 25%;
  }

  nav {
    font-size: 1.2em;

    ul {
      @include normalize_spaces;
      @include horizontal_list(1em);

      a {
        color: $color_main;

        &:hover {
          color: $color_main_hover;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    @include align_flex(column, center, center);

    nav > ul {
      justify-content: space-evenly;
    }

    button {
      width: 50%;
      margin: 1em;
    }
  }
}
