@import "constants";

$text_shadow: 1px;

.logo {
  color: #fff;
  font-weight: bold;
  font-family: "Bodoni MT", serif;
  font-size: 3em;
  text-shadow: -$text_shadow -$text_shadow 0 $color_main, $text_shadow $text_shadow 0 #000;

  &:hover {
    text-shadow: -2*$text_shadow -2*$text_shadow 1px $color_main_hover, 2*$text_shadow 2*$text_shadow 1px #000;
  }
}
