@import "common";

@mixin profile_photo {
  @include align_flex(auto, center, center);

  width: 110px;
  height: 110px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: $photo_frame_width solid $color_main;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    line-height: 100px;
    color: $color_main;
    font-size: 2.5em;
  }

  &:hover {
    border-color: $color_main_hover;

    img {
      color: $color_main_hover;
      transform: scale(1.1);
    }
  }
}

.profile_card {
  @include align_flex(column, auto, center, auto, center);

  position: relative;
  width: min-content;
  padding: 0 1.4em 1em;
  font-size: 0.8em;

  .profile_photo {
    @include profile_photo;
  }

  h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-wrap: normal;
    word-break: break-word;
    text-align: center;
  }

  p {
    padding: 0;
  }

  > p, h3 {
    margin-top: 1em;
  }

  .subject {
    color: $color_grey;
    font-size: 1.2em;
  }
}
